*{
  box-sizing: border-box;
}

html,body,button {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header.header {
  max-width: 1920px;
  position: relative;
  // background-image: url("../img/header/header_left1.svg");
  font-family: 'Poppins', sans-serif;

  object {
    position: absolute;
    max-width: 1920px;
    width: 100%;
    object-fit: cover;
    // left: -34%;

    svg {
      max-width: 1920px;
    }
  }
}

.container {
  max-width: 1166px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header_top {
  max-width: 1166px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding-top: 15px;
  align-items: center;
  font-family: 'Poppins', sans-serif;

  .logo {
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    span {
      color: #fff;
    }

color: #EB5858;
  }

  .header_nav {
    max-width: 374px;
    display: flex;
    column-gap: 20px;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    z-index: 1;
  }

  .header_tel_price_log {
    // max-width: 401px;
    display: flex;
    column-gap: 22px;

    .header_tel {

      &>span {
        display: block;
      }
    }
    .header_price {
      display: inline-block;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      padding: 10px 10px 10px 10px;
      border: 1px solid #EB5858;
      border-radius: 6px;
      background-color: #EB5858;
      color: #fff;
    }
    .header_log {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      color: #EB5858;
      border: 2px solid #EB5858;
      border-radius: 6px;
      padding: 10px 14px;
    }
  }
}
